:root {
    --themecolor : rgb(18, 138, 218);
    --themecolorlight : rgba(18, 138, 218, 0.53);
}
*{
    margin: 0;
    padding: 0;
}
header{
    min-height: 15vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sayhellocnt{
    min-height: 85vh;
    background-color: rgb(255, 255, 255);
}
.headright img{
    width: 40px;
    padding: 12px 18px;
}
.headright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headleft a{
    text-decoration: none;
}
.headleft h3 a{
    color: var(--themecolor);
    font-size: 24px;
    text-decoration: none;
    text-shadow: 0px 1px 2px var(--themecolor);
}
.headleft{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    padding: 0 44px;
}
.inputname{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullname{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.fullname input{
    width: 257px;
    padding: 7px;
    border: 2px solid var(--themecolorlight);
    box-shadow: 0px 4px 4px var(--themecolor);
    border-radius: 12px;
}
  #pad{
    margin: 0 28px;
  }
.textareabig{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 28px;
}
#message{
    height: 90px;
        height: 160px;
        width: 530px;
        border: 2px solid var(--themecolorlight);
        box-shadow: 0px 7px 4px var(--themecolor);
        border-radius: 12px;
}
.infoskillbtn a{
    text-decoration: none;
    color: var(--themecolor);
    padding: 4px 4px;
    font-size: 18px;
}
.infoskillbtn{
    color: var(--themecolor);
    border: 2px solid var(--themecolor);
    border-radius: 49px;
    padding: 9px 22px !important;
    box-shadow: 0px 7px 6px var(--themecolor);
    margin: 12px 26px;
    font-size: 17px;
  }
.infoskillbtn:hover{
    color: white;
    background-color:var(--themecolor) ;
}
.smb{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sayhellohead p{
    font-size: 45px;
font-weight: 428;
color: var(--themecolor);
text-align: center;
padding: 1px 0;
}
.sayhellohead {
    margin: 9px;
    margin-bottom: 9px;
  margin-bottom: 38px;
    margin: 20px;
}
.sayhellocnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#line{
    width: 386px;
    margin: 0 auto;
  }
label{
    padding: 4px 8px;
    color: rgb(0, 0, 0);
}
#abc{
    width: 386px;
    margin: -30px auto;
}
.headright img:hover{
    width: 70px;
    box-shadow: 0px 7px 6px var(--themecolor);

}